[project]
name = "nonebot-plugin-bing-chat"
description = "基于nonebot2的bing-chat软件"
version = "0.3.6"
authors = [
    {name = "Harry", email = "Harry0259@163.com"},
]
readme = "README.md"
license = {text = "GPL-3"}
requires-python = ">=3.10"
dependencies = [
    "nonebot2>=2.0.0b4",
    "nonebot-adapter-onebot>=2.2.0",
    "nonebot_plugin_apscheduler",
    "EdgeGPT>=0.0.51",
]

[project.urls]
Homepage = "https://github.com/Harry-Jing/nonebot-plugin-bing-chat"


[build-system]
requires = [
  "setuptools >= 67.4.0",
]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]
include = ["nonebot_plugin_bing_chat*"]
